@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');

body
{
	font-family: 'Roboto', sans-serif;
}
#welcomeMsg
{
	position: absolute;
	top:50px;
	left:5px;
}
.LoginColor
{
	height: auto;
	width: 100%;
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	background-color: rgba(211, 0, 19, 0.5);
	z-index: -1;
}

#LoginForm
{
	border-radius: 25px;
	border: 3px solid black;
	height:400px;
	width: 300px;
	z-index: 1;
	position: absolute;
	background-color: #dcdcce;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	margin: 0;
}

.loginMaster h1
{
	font-size: 20px;
	font-weight: 300;
}

.loginMaster input
{
	width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.loginMaster input:focus
{
	border: 3px solid #555;
}

.loginMaster button
{
	background-color: #0078CA; 
    border: none;
    color: white;
	width:80%;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	cursor: pointer;
	bottom: 0;
}
.loginMaster button:hover
{
	background-color: rgba(43,169,255,1.00);
}
#LoginForm a
{
	font-weight: 300;
	font-size: 12px;
	color:black;
	position: absolute;
	bottom: 20px;
	left:30px;
}
#LoginForm a:hover
{
	color:aliceblue;
}
#signInErrMsg
{
	font-size: 10px;
	color:red;
	position: absolute;
	top:160px;
	left: 33px;
	max-width: 250px;
}
#signUpErrMsg
{
	font-size: 10px;
	color:red;
	margin:0;
    padding:0;
	max-width: 250px;
}
#ForgotPasswordErrMsg
{
	font-size: 10px;
	color:red;
	margin:0;
    padding:0;
	max-width: 250px;
}

#forgotPasswordDiv
{	
	position: absolute;
	bottom:0px;
	right:0px;
	width:150px;
}
.SignUpmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 120px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.SignUp-content {
    background-color: #dcdcce;
    margin: auto;
    padding: 20px;
	border-radius: 25px;
    border: 3px solid black;
    width: 300px;
	height: 425px;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#imgnHeaderDiv
{
	width:800px;
	height: 500px;
	position: absolute;
	top: 51%;
    left: 50.21%;
    margin-right: -50%;
    transform: translate(-50%, -57%);
	margin: 0;
}
#imgnHeaderDiv img
{
	width:800px;
	height: 500px;
}

#mapBtnsDiv
{
	width:800px;
	height: 500px;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	margin: 0;
}

#Tech1Btn
{
	position: absolute;
	top:165px;
	left:31px;
	height:171px;
	width:181px;
	cursor: pointer;
}
#Tech1Btn:hover
{
	background-color: rgba(211,0,19,0.3)
}
#Tech2Btn
{
	position: absolute;
	top:346px;
	left:31px;
	height:177px;
	width:182px;
	cursor: pointer;
}
#Tech2Btn:hover
{
	background-color: rgba(211,0,19,0.3)
}
#Tech3Btn
{
	position: absolute;
	bottom:-23px;
	right:28px;
	height:195px;
	width:198px;
	cursor: pointer;
}
#Tech3Btn:hover
{
	background-color: rgba(211,0,19,0.3)
}
#Tech4Btn
{
	position: absolute;
	top:173px;
	left:285px;
	height:144px;
	width:174px;
	cursor: pointer;
}
#Tech4Btn:hover
{
	background-color: rgba(211,0,19,0.3)
}
#Tech5Btn
{
	position: absolute;
	top:366px;
	left:417px;
	height:30px;
	width:35px;
	cursor: pointer;
}
#Tech5Btn:hover
{
	background-color: rgba(211,0,19,0.3)
}
#VRBtn
{
	position: absolute;
	top:153px;
	right:135px;
	height:112px;
	width:130px;
	cursor: pointer;
}
#VRBtn:hover
{
	background-color: rgba(211,0,19,0.3)
}
#VRTBtn
{
	position: absolute;
	top:259px;
	right:61px;
	height:37px;
	width:42px;
	cursor: pointer;
}
#VRTBtn:hover
{
	background-color: rgba(211,0,19,0.3)
}
#viewPort
{
	height: 150px;
	width: auto;
}
viewPort_Content
{
	display: none;
}
#viewPort button
{
	border: none;
	height: 30px;
	width: 120px;
	background-color: #9C9C9C;
	color: white;
}
#viewPort button:hover
{
	background-color: #CACACA;
	color: black;
}

#viewPort button:disabled {
    background: #dddddd;
	color:white
}
#viewPort button:disabled:hover {
    background: #dddddd;
	color:white
}
#MAdminUser
{
	border: none;
	height: 30px;
	width: 120px;
	background-color: #9C9C9C;
	color: white;
	position: absolute;
	bottom:0;
	left: 0;
	display: none;
}
#MAdminUser:hover
{
	background-color: #CACACA;
	color: black;
}

#UploadFileBtn
{
	border: none;
	height: 30px;
	width: 120px;
	background-color: #9C9C9C;
	color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
}
#UploadFileBtn:hover
{
	background-color: #CACACA;
	color: black;
}

#lessonLockBtn
{
	display:none;
}
#quickLockBtn
{
	display:none;
}
#rlockBtn
{
	display:none;
}
.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.HigherModal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.timeTableModal-content 
{
    background-color: white;/*rgba(245,245,245,1.00);*/
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	border-radius: 25px;
    width: 95%; /* Could be more or less, depending on screen size */
	min-width: 944px;
}

.timeTableModal-content h3
{
	font-weight: 500;
	font-size: 23px;
	margin: 0;
	display: inline-block;
}
.timeTableModal-content label
{
	margin: 0;
}
/* The Close Button */
.close 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.emailModal-content 
{
    background-color: white;/*rgba(245,245,245,1.00);*/
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	border-radius: 25px;
    width: 640px; /* Could be more or less, depending on screen size */
}
.emailModal-content input[type=text],[type=email]
{
    width: 600px;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.emailModal-content input[type=text]:focus, input[type=email]:focus
{
    border: 3px solid #555;
}
.emailModal-content textarea
{
	width:600px;
	height: 200px;
}
.emailModal-content label
{
	top:178px;
	position: absolute;
}
#sendBtn
{
	margin-top: 5px;
	width: 600px;
	height: 30px;
	color: white;
	background-color: #8E8E8E;
}
#sendBtn:hover
{
	background-color: #CFCFCF;
	color: black;
}
.close1 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close1:hover,
.close1:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.BookRecuring-content 
{
    background-color: white;/*rgba(245,245,245,1.00);*/
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	border-radius: 25px;
    width: 640px; /* Could be more or less, depending on screen size */
}
.BookRecuring-content input
{
    width: 600px;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.BookRecuring-content input:focus
{
    border: 3px solid #555;
}
.BookRecuring-content select
{
    width: 600px;
    padding: 7px 20px;
    margin: 8px 0;
	height: 40px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.close2
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close2:hover,
.close2:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.BookRecuring-content button
{
	margin-top: 5px;
	width: 600px;
	height: 30px;
	color: white;
	background-color: #8E8E8E;
}
.BookRecuring-content button:hover
{
	background-color: #CFCFCF;
	color: black;
}
.BookRecuring-content input[type=text],[type=email]
{
    width: 600px;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.BookRecuring-content input[type=text]:focus, input[type=email]:focus
{
    border: 3px solid #555;
}
/* Modal Content/Box */
.ManageUsers-content 
{
    background-color: white;/*rgba(245,245,245,1.00);*/
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	border-radius: 25px;
    width: 640px; /* Could be more or less, depending on screen size */
}
.ManageUsers-content input
{
    width: 600px;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.ManageUsers-content input:focus
{
    border: 3px solid #555;
}
.ManageUsers-content h1
{
    font-weight: 500;
	margin: 0;
}
/* The Close Button */
.close3 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close3:hover,
.close3:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close4 
{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close4:hover,
.close4:focus 
{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.ManageUsers-content button
{
	margin-top: 5px;
	width: 600px;
	height: 30px;
	border: none;
	color: white;
	background-color: #8E8E8E;
}
.ManageUsers-content button:hover
{
	background-color: #CFCFCF;
	color: black;
}

.uploadFileModal-content 
{
    background-color: white;/*rgba(245,245,245,1.00);*/
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
	border-radius: 25px;
    width: 95%; /* Could be more or less, depending on screen size */
	min-width: 1000px;
}
.uploadFileModal-content input[type=text],[type=email]
{
    width: 600px;
    padding: 7px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.uploadFileModal-content button
{
	margin-top: 5px;
	margin-left: 3px;
	width: 100%;
	height: 30px;
	color: white;
	background-color: #8E8E8E;
	border: none;
}
.uploadFileModal-content button:hover
{
	background-color: #CFCFCF;
	color: black;
}

.ForgotPasswordSlides {display:none;}
.SettingsSlides{display:none;}
#Loader
{
	height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	/*background-color: rgb(24,24,31);*/
	z-index: 5;
}
#Loader img
{
	display: block;
	margin: auto;
}

#LoaderUser
{
	height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	/*background-color: rgb(24,24,31);*/
	z-index: 5;
}
#LoaderUser img
{
	display: block;
	margin: auto;
}

.Loader
{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	background-color: white;
	/*background-color: rgb(24,24,31);*/
	z-index: 5;
}
.Loader img
{
	display: block;
	margin: auto;
	position: absolute;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.Loader p
{
	text-align: center;
}

#preLimLoader
{
	text-align: center;
	display: none;
	margin-left: 100px;
}
#preLimLoaderText
{
	margin: 0;
}

.defaultCursor
{
	cursor: default;
}
.pointerCursor
{
	cursor: pointer;
	font-weight: 300;
}
.light
{
	font-weight: 300;
}
.bold
{
	font-weight: 500;
}
.editColor
{
	background-color: #BDCAF2;
}
.noHeightBreak
{
	display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0; /* change this to whatever height you want it */
}
.indent
{
	display: block;
	margin-left: 40px;
}
.hidden
{
	display: none;
}

.booked
{
	color:red;
}
.unbooked
{
	color:#08DD00;
}
.lesson
{
	color:orange;
}
.locked
{
	color: gray;
}
.Disabled
{
	background-color: #f5f5f5;
}
.selected
{
	background-color: #C8C8C8;
}
#DivDescription
{
	position: absolute;
	margin-left: 380px;
}

#whichWeekBtn
{
	border: none;
	height: 30px;
	width: 120px;
	background-color: #9C9C9C;
	color: white;
	display: inline-block;
	float: right;
	margin-top: 40px;
}
#whichWeekBtn:hover
{
	background-color: #CACACA;
	color: black;
}

#ErrorBox
{
	height:70px;
	width:160px;
	background-color:rgba(255,179,180,0.87);
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	margin: 0;
	z-index: 5;
}
#ErrorBox p
{
	font-size: 10px;
	margin-left: 2px;
}
#ErrorBox button
{
	position: absolute;
	bottom: 0;
	width: 100%;
}
#errorModule
{
	position: absolute;
	height: 100%;
	width: 100%;
	top:0px;
	bottom: 0px;
	z-index: 8;
	display: none;
	background-color: rgba(0,0,0,0.5);
}

#myProgressUpload
{
  width: 100%;
  margin-left: 3px;
  background-color: #ddd;
  display: none;
}
#myProgress 
{
  width: 100%;
  background-color: #ddd;
  position: absolute;
  bottom: 0;
}
#myBar 
{
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

#DateViewer
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 400px;
}
#DateViewer h1
{
	font-weight: 300;
}
#DeleteConsole
{
	text-align: left;
	display: block;
	margin: auto;
	width:400px;
	height: 60%;
	border: solid 3px black;
	background-color: #F2F2F2;
	overflow-y: auto;
}
#DeleteConsole p
{
	margin-left: 10px;
	margin-right: 0px;
	margin-top: 0;
	margin-bottom: 0;
	max-height: 100%;
}
#DateViewer button
{
	margin-left: 100px;
}

#buttonViewPortDelete button
{
	border: none;
	height: 30px;
	width: 140px;
	background-color: #9C9C9C;
	color: white;
	margin-top: 2px;
}
#buttonViewPortDelete button:hover
{
	background-color: #CACACA;
	color: black;
}
#buttonViewPortDelete
{
	margin-left: 3px;
	position: absolute;
	right:0;
	top:0;
}
[contenteditable]:focus
{ 
    outline: 0px solid transparent;
}

#SettingBtnsViewport
{
	height: 400px;
	width:100%;
}
#AdminUserBtn
{
	height: 400px;
	width: 47%;
	float: left;
	cursor: pointer;
	background-color: #EFEFEF;
}
#AdminUserBtn p
{
	text-align: center;
	font-weight: 300;
	font-size: 17px;
}
#ManageTimeBtn
{
	height: 400px;
	width: 47%;
	float: right;
	cursor: pointer;
	background-color: #EFEFEF;
}
#ManageTimeBtn p
{
	text-align: center;
	font-weight: 300;
	font-size: 17px;
}
#previewRoomDiv
{
	display: inline-block;
	float: right;
}
#uploadBlock
{
	position:absolute;
	background-color:white;
	height: 170px;
	width: 92.3%;
	min-width: 970px;
}
#previewWhichRoom
{
	float:right;
}
#fileLoadForm
{
	display: inline-block;
}